.header {
    margin: auto;
    margin-top: 50px;
    width: 1400px;
    height: 620px;
    background-image:
        linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../B9A1-New-Year-New-Mission-main/resources/Banner\ Image.png');
    border-radius: 16px;

}

.header h1 {
    max-width: 630px;
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 80px;
    margin-top: 0px;
}

.header h3 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
}

.banner-content {
    text-align: center;
    padding: 177px 344px;
}

.holiday {
    margin-top: 120px;
    width: 1650px;
    margin-bottom: 0px;


}

.holiday-img {
    width: 802.9px;
    height: 500px;
    fill: lightgray 50% / cover no-repeat;
    padding: 0px 400px;


}

.holiday-title {
    text-align: center;
}

.holiday h2 {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 30px;
}

.holiday p {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
}

.holiday h3 {
    color: #070211;
    text-align: center;
    font-size: 48p;
    font-weight: 700;
    margin-top: 10px;
}

main {
    max-width: 1650px;
    margin: 0px auto;
}

.party-content {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../B9A1-New-Year-New-Mission-main/resources/Vectorrr.png');
    display: flex;
    background-repeat: no-repeat;


}

.party-content img {
    display: flex;
    width: 310px;
    height: 460px;
    padding: 50px 100px 50px 0px;
    
}
.party-content h3{

    padding-top: 70px;
    padding-left: 80px;
    color: #FFF;
font-size: 60px;
font-weight: 700; 
letter-spacing: 5px;
width: 600px;

}
.party {
    width: 1400px;
    margin: auto;
    margin-top: 120px;


}
.party-content p {
    width: 800px;
    color: rgba(255, 255, 255, 0.80);
font-size: 18px;
font-weight: 400;
line-height: 17px;
padding-left: 80px;
}
.party-content button {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    border: none;
    padding-top: 50px;
    padding-left: 100px;

}
.party-info h4 span{
    color: #F00;
text-align: center;
font-size: 32px;
font-weight: 600;  
}
.party-info{
    text-align: center;
    background-color: bisque;
    width: 1400px;
    height: 482px;
    margin: auto;
    margin-top: 120px;
    padding-top: 60px;

    
}
.party-info button{
    color: #FFF;
padding: 16px 32px;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #F00;
border: none;
}
.info-content{
    
    color: #070211;
font-size: 32px;
font-weight: 600;
padding-bottom: 50px;
}