.header {
    margin: auto;
    margin-top: 50px;
    width: 1400px;
    height: 620px;
    background-image:
        linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../B9A1-New-Year-New-Mission-main/resources/Banner\ Image.png');
    border-radius: 16px;

}

.header h1 {
    max-width: 630px;
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 80px;
    margin-top: 0px;
}

.header h3 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
}

.banner-content {
    text-align: center;
    padding: 177px 344px;
}

.holiday {
    margin-top: 120px;
    width: 1650px;
    margin-bottom: 0px;


}

.holiday-img {
    width: 802.9px;
    height: 500px;
    fill: lightgray 50% / cover no-repeat;
    padding: 0px 400px;


}

.holiday-title {
    text-align: center;
}

.holiday h2 {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 30px;
}

.holiday p {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
}

.holiday h3 {
    color: #070211;
    text-align: center;
    font-size: 48p;
    font-weight: 700;
    margin-top: 10px;
}

main {
    max-width: 1650px;
    margin: 0px auto;
}

.party-content {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../B9A1-New-Year-New-Mission-main/resources/Vectorrr.png');
    display: flex;
    background-repeat: no-repeat;


}

.party-content img {
    display: flex;
    width: 310px;
    height: 460px;
    padding: 50px 100px 50px 0px;

}

.party-content h3 {

    padding-top: 70px;
    padding-left: 80px;
    color: #FFF;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 5px;
    width: 600px;

}

.party {
    width: 1400px;
    margin: auto;
    margin-top: 120px;


}

.party-content p {
    width: 800px;
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 17px;
    padding-left: 80px;
}

.party-content button {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    border: none;
    padding-top: 50px;
    padding-left: 100px;

}

.party-info h4 span {
    color: #F00;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
}

.party-info {
    text-align: center;
    background-color: bisque;
    width: 1400px;
    height: 482px;
    margin: auto;
    margin-top: 120px;
    padding-top: 60px;


}

.party-info button {
    color: #FFF;
    padding: 16px 32px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    border: none;
}

.info-content {

    color: #070211;
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 50px;
}

.gift-column {
    display: grid;
    gap: 24px;

}

.gift {
    display: flex;
    justify-content: space-around;
    gap: 24px;


}

.portfolio {
    width: 1400px;
    height: 1350px;
    background: #FFF;
    margin: auto;
    margin-top: 120px;
}

.gift img {
    width: 475px;
    height: 500px;
    border-radius: 16px;
    background: url(<path-to-image>), lightgray 0px -35.755px / 100% 142.115% no-repeat;
    border: none;

}

.portfolio-title p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.portfolio-title h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
}

.portfolio-title h4 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.subscribe-info {
    text-align: center;
    background: rgba(255, 0, 0, 0.05);
    width: 1400px;
    height: 482px;
    margin: auto;
    margin-top: 120px;
    padding-top: 60px;
}

.subscribe-title h2 {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 900;

}

.subscribe-title p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.subscribe {
    display: flex;
    justify-content: center;
}

.subscribe button {
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
    color: #FFF;
    text-align: center;
    font-weight: 600;

}

.subscribe input {
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    width: 500px;
    height: 70px;
    padding-left: 30px;
    border: none;

}

.footer {
    background: #070211;
    width: 100%;
    height: 100%;
    margin-top: 120px;
    position: absolute;

}

.contact {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    display: block;
    width: 300px;
    padding-top: 120px;
    padding-left: 60%;
    position: relative;
}

.upper {
    display: flex;
    padding: 120px 0px 400px 120px;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    max-width: 350px;
    max-height: 80px;

}

.icon img {
    width: 24px;
    height: 24px;
}

.footer-head {
    display: flex;

}

.social-field {
    text-align: center;
    justify-content: center;
}

.foot {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;

}

.images {
    margin-bottom: 200px;
}

.bonus {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 120px;

}

.left h4 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.left h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
}

.left p {
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.right h2{
    color: #F00;
font-size: 48px;
font-weight: 700;
}
.right p{
    max-width: 270px;
    color: rgba(7, 2, 17, 0.60);
font-size: 20px;
font-weight: 400;
line-height: 32px;
}
.right img{
    width: 140px;
height: 140px;

}
.center-image{
border: 23px solid #F00;
border-radius: 50%;
width: 450px;
height: 450px;
padding: 47px;
}
.left{
    padding-top: 50px;
}
.right{
    padding-top: 50px;
}
.sale{
    width: 1400px;
    margin: 0 auto;
    height: 940px;
   background-image:url('../B9A1-New-Year-New-Mission-main/resources/Rectangle\ 2.png'); 
   background-repeat: no-repeat;
  background-size: 1400px 203px;
  background-position: bottom left;

}
.sale-title h4{
    color: #070211;
font-family: Inter;
font-size: 24px;
font-weight: 500;


}
.sale-title h1{
    color: #F00;
text-align: center;
font-size: 72px;
font-weight: 900;

}
.sale-title p{
    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-size: 20px;
font-weight: 500;
}

.girl{
    width: 429px;
padding-bottom: 500px;
padding-top: 33px;
float: right;
}
.percent{
    display: flex;
margin: auto;
    
}
.box{
    max-width: 665px;
    height: 700px;
}
.fifty{
    width: 306.048px;
height: 305.048px;
position: relative;
  left: 136px;
  top: 100.98px;
}